<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">

                <!-- Start of Contacts -->
                {% include "layouts/contacts.html" %}
                <!-- End of Contacts -->

                <!-- Start of Discussions -->
                {% include "layouts/discussions.html" %}
                <!-- End of Discussions -->

                <!-- Start of Notifications -->
                {% include "layouts/notification.html" %}
                <!-- End of Notifications -->

                <!-- Start of Settings -->
                {% include "layouts/settings.html" %}
                <!-- End of Settings -->
            </div>
        </div>
    </div>
</div>